/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --color-text: #000000;
    --bg-color: #FFFFFF;
}

.fa-solid {
    color: var(--main-color);
}

/*header: logo and navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items : center;
}

.logo{
    height: 20px;
}

.container_navbar ul, li, a {
    text-decoration: none;
    color: var(--color-text);
    display: flex;
    margin-top: -2px;
}

 .navbar-link{
    padding: 30px; 
    padding-top: 15px;
    border: 2px solid transparent;
}

.navbar-link:hover{
    border-top: 2px solid var(--main-color);
    color: var(--main-color);  
}


/**** Barre de recherche****/
.research{
    display: flex;
    margin-top: 30px;
    gap: 0px;
    border: 1px solid var(--main-bg-color);
    width: fit-content;
    border-radius: 10px 15px 15px 10px; 
}

.fa-location-dot{
    color: var(--color-text);
    background-color: var(--main-bg-color);
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 12px;
    height: 18px;         
}

 .research input { 
    padding : 12px;
    height : 40px;
    border-color: var(--main-bg-color);
    border: none;
    text-align: center;     
}

.research button {
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 0px 15px 15px 0px;
    padding: 12px 20px;
    border: none;
    outline: none;
    font-weight: bold;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

input::placeholder{
    font-weight: bold;
    color: var(--color-text);
}


/****Filter****/

.filter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.filter button{
    background-color: var(--bg-color);
    border-radius: 30px;
    border-style: solid;
    border-color: var(--main-bg-color);
    height: 50px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    padding-right: 20px;
    transition: all 400ms;   
    cursor: pointer;
}

.filter button:hover{
    background-color: var(--filter-bg-color);
}

.filter-Icon i {
    padding-right: 4px;   
}

.icon-Information{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.icon-info {
    border-radius: 40px;
    background-color: var(--bg-color);
    border: 1px solid var(--main-bg-color);
    width: 15px;
    padding: 5px;
    text-align: center;
}

.icon-Information .icon-info{
    margin-right: 10px;
}

/*fin de la section filtre*/


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .blok{
    display: flex;
    gap: 20px;
}

.hebergements .blok2{
    display: flex;
    gap:20px;
}

.hebergements-cards{
    width: 33%;   
    margin-bottom: -25px;
}

.hebergements-cards .card{
    width:  90%;
    margin: 30px;
    margin-left: 2px;
    margin-right: 2px;
    height: 200px;   
}

.hebergements-cards .card img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 90px;
}

.hebergements-cards .card .card-content{
    margin-top: -10px;
    margin-left: 10px;
}

.hebergements-cards .card .card-txt{
    margin-bottom: -5px ;
}

.hebergements .font{
    font-weight: bold;
    margin-top: 20px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****Activités****/
.activites .section-title{
    margin-top: 60px;
    margin-bottom: 10px;
}

.blok-activite{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.activites-card{
    width: calc(25% - 30px);
}

.activites-card .card{
    width:  100%;
    height: 380px;
    margin-top: 25px;
    padding: 0;   
}

.activites-card .card img{
    height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;  
}

.activites-card .card h3{
    margin-left: 15px;
    font-size: 15px;
}

/****Footer****/

.footerRow{
    display: flex;
    margin-top: 90px;
    background-color: var(--main-bg-color);
    margin-bottom: -7px;
}

.box-footer .list-column{
    flex-direction: column;   
}

.box-footer {
    width: 34%;
    padding-left: 15px; 
}

.list-column{
    padding: 0;
}

.box-footer ul li{
    padding-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}